body {
  min-height: 100vh;
  background-color: #f6f7fc;
}

.navbar-avatar {
  border-radius: 50%;
  margin-right: 5px;
}

.navbar {
  border-bottom: 1px solid #e6e6e6;
}

.navbar-start, .navbar-brand {
  margin-left: 95px;
}

.navbar-end {
  margin-right: 95px;
}

.navbar-item, .navbar-link {
  color: #aaa;
}

.navbar-item .hk-user {
  color: #666;
}

a.navbar-item:hover, .navbar-link:hover, .is-active {
  color: #666 !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #aaa;
}

.navbar-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  stroke: #aaa;
}

a.navbar-item:hover .navbar-icon, .navbar-link:hover .navbar-icon, .is-active>.navbar-icon {
  stroke: #666;
}

.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
  border: 2px solid;
  border-radius: 1px;
  border-right: 0;
  border-top: 0;
}

.navbar-menu.hk-tabs .navbar-item {
  justify-content: center;
}

.navbar-menu.hk-tabs .navbar-item {
  width: 33.333%;
}

.pageid-pages .navbar, .pageid-pages .navbar-item {
  border-radius: 5px 5px 0 0;
}

.table td {
  vertical-align: middle;
}

.table .actions {
  float: right;
}

a .after-icon {
  width: 16px;
  height: 16px;
  stroke: #3273dc;
}

a:hover .after-icon {
  stroke: #363636;
}

.card.hk-card {
  border-radius: 5px;
  align-items: center;
}

.pageid-dashboard body .card.hk-card {
  display: flex;
}

.hk-card .card-content {
  padding: 16px;
}

.hk-card-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.hk-card-icon svg {
  display: block;
  margin: 0 auto;
}

.hk-card-light svg {
  stroke: whitesmoke;
}

.hk-card-dark svg {
  stroke: #363636;
}

.hk-card.hk-1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.hk-card.hk-2 {
  font-size: 1rem;
  font-weight: 400;
}

.navbar-dropdown {
  border-top: 1px solid #666;
}

a.button.is-primary .icon svg {
  stroke: #00d1b2;
}

a.button.is-danger .icon svg {
  stroke: #ff3860;
}

a.button:hover .icon svg {
  stroke: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}